
    
    <table class="table table-striped">
        <col width="16.67%">
        <col width="16.67%">
        <col width="16.67%">
        <col width="16.67%">
        <col width="16.67%">
        <col width="16.67%">
        
      <th align="right"> <h3>Day 1 - Wednesday 19 July</h3></th><th></th> <th align="right"> <h3>Day 2 - Thursday 20 July</h3></th><th></th> <th align="right"> <h3>Day 3 - Friday 21 July</h3></th><th></th>
      <tr> <td align="center">14:00</td>  <td align="left">Installations/Ice Breaker/Introductions</td> <td align="center">09:00</td>  <td align="left">Introduction to Shell</td>             <td align="center">09:00</td>  <td align="left">Introduction to Git</td> </tr> 
      <tr> <td align="center">15:00</td>  <td align="left">Data formatting in Spreadsheets</td>         <td align="center">10:40</td>  <td align="left">Break</td>                             <td align="center">10:40</td>  <td align="left">Break</td> </tr>
      <tr> <td align="center">16:30</td>  <td align="left">Wrap up</td>                                 <td align="center">11:00</td>  <td align="left">Introduction to Shell continues</td>   <td align="center">11:00</td>  <td align="left">Introduction to Git continues </td> </tr>
      <tr> <td align="center">17:00</td>  <td align="left">Finish</td>                                  <td align="center">12:30</td>  <td align="left">Break</td>                             <td align="center">12:30</td>  <td align="left">Break</td> </tr>
      <tr> <td></td>                      <td></td>                                                     <td align="center">13:15</td>  <td align="left">Introduction to Python</td>            <td align="center">13:15</td>  <td align="left">Introduction to Python continues</td> </tr>
      <tr> <td></td>                      <td></td>                                                     <td align="center">14:45</td>  <td align="left">Break</td>                             <td align="center">14:45</td>  <td align="left">Break</td> </tr>
      <tr> <td></td>                      <td></td>                                                     <td align="center">15:00</td>  <td align="left">Introduction to Python continues</td>  <td align="center">15:00</td>  <td align="left">Introduction to Python continues</td> </tr>
      <tr> <td></td>                      <td></td>                                                     <td align="center">16:30</td>  <td align="left">Wrap up</td>                           <td align="center">16:30</td>  <td align="left">Wrap up</td> </tr>
      <tr> <td></td>                      <td></td>                                                     <td align="center">17:00</td>  <td align="left">Finish</td>                            <td align="center">17:00</td>  <td align="left">Finish</td> </tr>
    </table>
 

