
    
    <table class="table table-striped">
      <th> <h3>Day 1 - Wednesday 19 July</h3></th><th></th> <th> <h3>Day 2 - Thursday 20 July</h3></th><th></th> <th> <h3>Day 3 - Thursday 21 July</h3></th><th></th>
      <tr> <td>14:00</td>  <td>Installations/Ice Breaker/Introductions</td> <td>09:00</td>  <td>Introduction to Shell</td>  <td>09:00</td>  <td>Introduction to Git</td> </tr> 
      <tr> <td>15:00</td>  <td>Data formatting in Spreadsheets</td>  <td>10:40</td>  <td>Break</td>  <td>10:40</td>  <td>Break</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap up</td>  <td>11:00</td>  <td>Introduction to Shell continues</td>  <td>11:00</td>  <td>Introduction to Git continues </td> </tr>
      <tr> <td>17:00</td>  <td>Finish</td>  <td>12:30</td>  <td>Break</td>  <td>12:30</td>  <td>Break</td> </tr>
      <tr> <td></td>  <td></td>  <td>13:15</td>  <td>Introduction to Python</td>  <td>13:15</td>  <td>Introduction to Python continues</td> </tr>
        <tr> <td></td>  <td></td>  <td>14:45</td>  <td>Break</td>  <td>14:45</td>  <td>Break</td> </tr>
        <tr> <td></td>  <td></td>  <td>15:00</td>  <td>Introduction to Python continues</td>  <td>15:00</td>  <td>Introduction to Python continues</td> </tr>
        <tr> <td></td>  <td></td>   <td>16:30</td>  <td>Wrap up</td>  <td>16:30</td>  <td>Wrap up</td> </tr>
        <tr> <td></td>  <td></td>  <td>17:00</td>  <td>Finish</td> </tr>
    </table>
 

